<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Fastag</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>Choose Vehicle Type</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 (click)="addEvent();">
      <ion-card [ngStyle]="{'background-color': buttonColor}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/Truck.png" />
          </ion-col>
          <ion-col col-12 text-center>TRUCK</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent1();">
      <ion-card [ngStyle]="{'background-color': buttonColor1}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/bus.png" />
          </ion-col>
          <ion-col col-12 text-center>BUS</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent2();">
      <ion-card [ngStyle]="{'background-color': buttonColor2}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/cab.png" />
          </ion-col>
          <ion-col col-12 text-center>TAXI</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 (click)="addEvent3();">
      <ion-card [ngStyle]="{'background-color': buttonColor3}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/car.png" />
          </ion-col>
          <ion-col col-12 text-center>CAR</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent4();">
      <ion-card [ngStyle]="{'background-color': buttonColor4}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/motorcycle.png" />
          </ion-col>
          <ion-col col-12 text-center>BIKE</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent5();">
      <ion-card [ngStyle]="{'background-color': buttonColor5}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/Truck.png" />
          </ion-col>
          <ion-col col-12 text-center>OTHERS</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="vehicleType">
    <ion-col col-6>
      <ion-list>
        <ion-item>
          <ion-label floating>Fastag Quantity</ion-label>
          <ion-input type="number" [(ngModel)]="numFastag"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col col-6><button ion-button *ngIf="numFastag" round color="primary" style="margin-top: 12%;"
        (click)="calc()">Calculate Cost</button></ion-col>
  </ion-row>
  <!-- <ion-list *ngIf="vehicleType">
    <ion-item>
      <ion-label floating>Fastag Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="numFastag"></ion-input>
    </ion-item>
  </ion-list> -->
  <ion-row *ngIf="totalPayable">
    <ion-col col-12 style="border: 2px solid black;">
      <p style="font-size: 1.3em;
      text-align: center;
      margin: 2px;">Total Payable Amount - {{totalPayable}}</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="totalPayable">
    <ion-col>

      <button ion-button block color="gpsc" (click)="payNow()"><b>PAY NOW</b></button>
      <button ion-button block color="primary" (click)="fastagReq()"><b>PAY LATTER</b></button>
    </ion-col>
  </ion-row>
</ion-content>